<div class="header">
  <div class="header__abbr">
    <div class="header__circle">
      PB
    </div>
  </div>
  <div class="header__name">
    <p class="header__name-title">Prakash Bhunjun</p>
    <div class="header__details">
      <div class="header__details-left">
        <p><span><i class="fa fa-map-marker"></i></span>Avenue Dodo, L'esperance Piton</p>
        <p><span><i class="fa fa-envelope"></i></span>prakashbhunjun@yahoo.com</p>
      </div>
      <div class="header__details-right">
        <p><span><i class="fa fa-phone-square"></i></span>57828435</p>
        <p><span><i class="fa fa-calendar"></i></span>04.07.87</p>
      </div>
    </div>
  </div>
</div>
