.cv-info {
  display: flex;
  font-family: $font-primary-regular;
  color: $secondary-color;

  @media #{$mobile-only} {
    display: block;
  }

  &__left-panel {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px dashed rgba($secondary-color, 0.5);
    position: relative;
    padding-bottom: 30px;

    @media #{$mobile-only} {
      width: 100%;
      justify-content: flex-start;
      padding-left: 30px;
      padding-bottom: 10px;
      border-right: none;
    }

    &-title {
      font-family: $font-primary-medium;
      margin-right: 20px;
      color: $primary-color;
      text-align: right;

      @media #{$mobile-only} {
        br {
          display: none;
        }
      }

    }

    &-circle {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0px;
      right: -8px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid rgba($secondary-color, 0.5);

      @media #{$mobile-only} {
        display: none;
      }
    }
  }

  &__details {
    width: 75%;
    padding-right: 75px;
    padding-bottom: 30px;

    @media #{$mobile-only} {
      width: 100%;
      padding-right: 25px;
    }

    &-info {
      margin-left: 20px;

      @media #{$mobile-only} {
        margin-left: 30px;
      }


      ul {
        li {
          display: flex;
          margin-bottom: 2px;
          span {
            padding-right: 10px;
            i {
              color: rgba($secondary-color, 0.8);
            }


          }

          a {
            color: $secondary-color;
          }

        }
      }
    }
  }
}
