//colors
$primary-color: #1a409a;
$secondary-color: #333333;
$tertiary-color: #111111;

//fonts
$font-primary-regular: 'Roboto', sans-serif;
$font-primary-medium: 'Roboto Medium', sans-serif;
$font-primary-bold: 'Roboto Heavy', sans-serif;
