<div class="cv-title">
  Profile
</div>

<div class="cv-info">
  <div class="cv-info__left-panel">
    <p class="cv-info__left-panel-title">Professional<br/> Summary</p>
    <span class="cv-info__left-panel-circle"></span>
  </div>
  <div class="cv-info__details">
    <div class="cv-info__details-info">Experienced Front-end with over 4 years of experience in Web Development.<br/> Excellent reputation for resolving problems and improving customer satisfaction.</div>
  </div>
</div>

<div class="cv-info">
  <div class="cv-info__left-panel">
    <p class="cv-info__left-panel-title">Roles</p>
    <span class="cv-info__left-panel-circle"></span>
  </div>
  <div class="cv-info__details">
    <div class="cv-info__details-info">
      <ul>
        <li><span><i class="fa fa-arrow-right"></i></span> Interaction for web applications.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Ensuring Web Accessibility.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Responsive Web Designs.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Building reusable code for future use.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Development of web pages in HTML 4.0 and 5.0.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Use of CSS 2.0 and 3.0 for page layout. </li>
        <li><span><i class="fa fa-arrow-right"></i></span> Design and coding of newsletters.</li>
      </ul>
    </div>
  </div>
</div>

<div class="cv-info">
  <div class="cv-info__left-panel">
    <p class="cv-info__left-panel-title">Skills</p>
    <span class="cv-info__left-panel-circle"></span>
  </div>
  <div class="cv-info__details">
    <div class="cv-info__details-info">
      <ul>
        <li><span><i class="fa fa-arrow-right"></i></span> Javascript and Typescript</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Angular 4-12</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Angular Material</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Git version Control</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Agile Methodology</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Technical skills in HTML 4.0 AND 5.0, CSS 2.0, 3.0 and CSS animations.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Use of "SASS" and "LESS" Stylesheet language.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Ensuring "cross-browser" compability and the quality HTML code following W3C standards and norms.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Good Knowledge of Photoshop and Invision for various applications such as image optimization, photo manipulation.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Excellent reference as a team member while constantly maintaining good relationships with teammates.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Comfortable with collaborative tools such as "SVN", "Redmine", "Bitbucket" and Jira".</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Carrying out effective research and coming up with intuitive solutions. </li>
        <li><span><i class="fa fa-arrow-right"></i></span> Project management and analytical skills.</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Adaptive and keeping up date to new technologies.</li>
      </ul>
    </div>
  </div>
</div>

<div class="cv-info">
  <div class="cv-info__left-panel">
    <p class="cv-info__left-panel-title">Education</p>
    <span class="cv-info__left-panel-circle"></span>
  </div>
  <div class="cv-info__details">
    <div class="cv-info__details-info">
      <ul>
        <li><span><i class="fa fa-arrow-right"></i></span> Diploma in Information System, University of Mauritius | 08/2013</li>
        <li><span><i class="fa fa-arrow-right"></i></span> Network & Security Consulting Ltd, CCNA | 2013</li>
      </ul>
    </div>
  </div>
</div>
